# Allow netd to load modules
allow netd kernel:system module_request;
allow netd self:capability sys_module;
allow netd system_server:unix_dgram_socket sendto;